#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-label {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  text-align: center;
}
